.containerHeading {
    display: flex;
    justify-content: center;
    color: black;
    background: blue;
    font-family: 'Roboto', sans-serif;
}

#btnSearch {
    color: black;
    background-color: red;
}

#map {
    width: 100vw;
    height: 50vh;
}

.container-10 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background:green;
    font-family: 'Roboto', sans-serif;
}

.container-1 {
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.masterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: gray;
}