:root {
    --rob: 'Roboto', sans-serif;
}

* {
    color: white;
}

html, body{
    background-color:  gray;
}

.containerMap {
    background: gray;
    display: flex;
    justify-content: center;
}

.containerHeading {
    display: flex;
    justify-content: center;
    color: black;
    background: lightgreen;
    font-family: var(--rob);
}

.containerHeading svg {
    margin: 0 1em;
    height: 30px;
    width: 30px;
}

h1 {
    text-shadow: 0 0 10px black;
}

#btnSearch {
    color: white;
    background-color: green;
    text-shadow: 0 0 5px lightgreen;
    border-radius: 25px;
}

#map {
    width: 80vw;
    height: 50vh;
    border: solid 6px lightgreen;
    border-radius: 25px;
    background: lightgreen;
    overflow: hidden;
}

.container-10 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background:gray;
    font-family: 'Roboto', sans-serif;
}

.container-1 {
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    border: solid 6px lightgreen;
    padding: 5px;
    text-shadow: 0 0 5px lightgreen;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.masterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: gray;
}

#locaSearch {
    color: black;
    border-radius: 25px;
    padding: 0 .5em;
}

::placeholder {
    color: lightgreen;
}